.buttonContainer {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}

.ChatBody {
    display: flex;
    flex-direction: column;
}

.ChatModCont {
    position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
}