.Containir {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 500px;
    padding: 20px;
}

.mainRecommend {
    display: flex;
    width: 100vw;
    height: 400px;
}



.Recommend {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 325px;
    padding-right: 35px;
}
.Recommend h2 {
    padding-left: 60px;
  font-size: 35px;
  font-family: 'Philosopher', sans-serif;
  padding-bottom: 10px;
        
}

.Recommend span {
padding-left: 10px;
font-size: 18px;
padding-bottom: 20px;
}

.RecDivRight {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.RecDivRightMenu {
margin-left: 180px;
padding-top: 30px;
}
.RecDivRightMenuLink {
    padding-right: 15px;
    font-size: 20px;
    font-weight: 700;

}
.RecDivRightMenuLink:hover {
color: #03a6b8;
}

/* ! Slider*/
.SliderDivFlag {
    
    max-height: 100%;
padding-top: 20px;   
   
}
.Sliders {
    height: 300px;
    display: flex;
        flex-direction: row;
        width: 600px;
}

.slide {
    width: 950px;
    height: 300px;
    background-size: cover;
}

.slide img {
    width: 950px;
    height: 300px;
    background-size: cover;
}



.customSlider button {
background-color: #828080;
width: 30px;
}


.customSlider button:hover {
color: #d01717;
} 
